.item-wrapper {
  border: 1px solid #696969;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 200px;
  height: 40px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  flex: 1 1 auto;
}
